.main {
  padding: 80px 0px 50px;
}
.main-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-make {
  width: 350px;
  height: 80px;
  background-color: rgb(216, 214, 214);
  border-radius: 10px;
  box-shadow: 0 0 25px 0 rgb(78, 241, 200, 0.5) ;
  

		// .main-make__item

		&__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 10px 20px;
		}
}

.main-action {
  width: 120px;
  display: flex;
  justify-content: space-between;
}
.add-btn {
  width: 30px;
  height: 30px;
  border: none;
  color: rgb(64, 63, 63);
  background-color: aqua;
  cursor: pointer;
}
.add-btn:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.fa-trash-can {
}
.main-total {
  width: 45px;
  height: 30px;
  color: rgb(64, 63, 63);
  background-color: aqua;
  padding: 5px 0 5px;
}
.count {
  
}
.main-progress {
  width: 350px;
  height: 80px;
  background-color: rgb(216, 214, 214);
  border-radius: 10px;
  box-shadow: 0 0 25px 0 rgb(78, 241, 200, 0.5) ;

		// .main-progress__item

		&__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 10px 20px;
		}

		// .main-progress__action

		&__action {
      width: 90px;
      display: flex;
      justify-content: space-between;
		}
}
.main-done {
  width: 350px;
  height: 80px;
  background-color: rgb(216, 214, 214);
  border-radius: 10px;
  box-shadow: 0 0 25px 0 rgb(78, 241, 200, 0.5) ;

		// .main-done__item

		&__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 10px 20px;
		}

		// .main-done__action

		&__action {
      width: 90px;
      display: flex;
      justify-content: space-between;
		}
}
.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 50px;
  width: 350px;
  min-height: 90px;
  background-color: rgb(216, 214, 214);
  border-radius: 2px 2px 39px 2px;
  box-shadow: 0 0 25px 0 rgba(82, 181, 211, 0.5) ;
}
.task {
  padding: 10px;
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
  //width: 350px;
  min-height: 90px;
  background-color: rgb(216, 214, 214);
  border-radius: 2px 2px 39px 2px;
  box-shadow: 0 0 25px 0 rgba(82, 181, 211, 0.5) ;
}
.wrap-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}
.logo-item {
  font-family: 'Sura';
  color: rgb(64, 63, 63);
}
.item-title {
  margin-top: 15px;
  font-family: 'Sura';
  color: rgb(64, 63, 63);
  font-size: 23px;
}
.description-item {
  color: rgb(64, 63, 63);
  margin-bottom: 30px;
  font-size: 15px;
  word-wrap: break-word;
}
.user-name__item {
  display: flex;
  justify-content: space-between;
}
.item-action {
  margin-right: 10px;
}
.inprogress {
  background: aqua;
  border: none;
  border-radius: 4px;
  width: 85px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.delete {
  background: aqua;
  border: none;
  border-radius: 4px;
  width: 55px;
  height: 20px;
  cursor: pointer;
}
.user {
  color: rgb(64, 63, 63);
  font-size: 15px;
}

